* {
  
}
body,
html {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  background:rgb(39, 81, 121);
  font-family: 'Open Sans', sans-serif;
  overflow-x:hidden;
}
h1 {
  margin:0;
}
select, option {
  cursor:pointer;
}
.content {
  margin:0;
  width:100%;
  min-height: 100;
  background:rgb(239, 239, 240);
}
.page {
  margin:0;
  padding:15px;
  width:100%;
  height:100%;
  background:white;
}
form.post-form {
  padding:15px;
  padding-bottom:35px;
  background:white;
  width:60vw;
  margin: auto auto;
}
form.post-form > p {
  text-align: center;
  max-width: 40vw;
  margin-left:3vw;
  margin-top:25px;

}
p > label {
  text-align: left;
  display:block;
  color: #666;

  margin-bottom: 0.7em;
  font-weight: 600;
}
form.post-form > button {
  margin-left:3vw;
}
.page-title {
  padding:20px;
  margin:0 auto;
  text-align: center;
  font-size: 1.7em;
  /* background:rgb(39, 81, 121); */
  background:rgb(239, 239, 240);
  color: #666;
  font-weight: 600;
}
h2 {
  /* padding:0 15px;
  margin:0; */
}
form {
  /* margin:0;
  padding:15px; */
  margin:0;
  padding:0;
}
p > input {
  width:50vw;
  height:35px;
  border:0;
  background: rgb(228, 239, 243);
}
p > textarea {
  width:50vw;
  border:0;
  background: rgb(228, 239, 243);
}
.save {
 
  background:rgb(53, 134, 255);
  border-radius:4px;
  padding:10px 15px;
  cursor:pointer;
  color:white;
  font-weight:600;
  border:1px solid rgb(53, 134, 255);
  transition: background-color, color 0.2s;
}
.save:hover {
  background: none;
  color:rgb(53, 134, 255);
}

#navbar {
  color:white;
  padding: 0.5vh 10vw;
  display:grid;
  grid-template-columns: auto 1fr 1fr 1fr auto auto auto auto;
  grid-gap: 0 30px;
  background:rgb(50, 97, 141);
  min-height:50px;
  max-height:7vh;
  font-size: 0.95em;
}
.nav-item {
  text-align: center;
}
#nav-logo {
  min-width:25vw;
  grid-column:1/2;
  display:flex;
}

#logo-icon {
  margin-top:15px;
  margin-right:15px;
  margin:1px solid white;
}
#logo-text-container {
  line-height: 100%;
  max-width: 60%;
  display:flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
}
#logo-text {
  font-size: 1.5em;
  margin: auto 0;
}
#navbar > span {
  margin:auto;
  transition: text-decoration, color 0.2s;
}
#navbar > button {
  width:90px;
  height:30px;
  margin:auto;
}
#navbar > button > a{
  margin: auto;
  
}
.nav1 { 
  font-size: 0.9em;
  grid-column:5/6;
  opacity: 0.8;
}
.nav2 {
  grid-column:6/7;
  padding:6px 10px;
  font-weight:600;
}
.nav2:hover {
  color:yellow;
  text-decoration: underline;
}
.nav3 {
  grid-column:7/8;

}
.nav4 {
  grid-column:8/9;
  padding:6px 10px;
  border-radius:3px;
}
.nav3:hover, .nav4:hover {
  text-decoration: underline;
}
.button-link {
  background:inherit;
  border:none;
  color:rgb(243, 243, 243);
  cursor:pointer;
  font-size:1em;
  padding:0;
  margin: 0 4px;
}
/* .button-link:hover {
  text-decoration: underline;
  color:yellow;
} */

#actions {
  padding: 0 30px;
  padding-bottom: 75px;
  min-height:4vh;
  display:grid;
  grid-template-columns: auto auto auto;
  color:white;
  background:rgb(39, 81, 121);
  /* grid-template-columns: repeat( auto-fit, minmax(30px, auto) ); */
}
#searchbar {
  min-width:40 wv;
  grid-column: 2/3;
  margin: 0 auto;
  display:inline-block;
}
#searchbar > input {
  height:30px;
  border-radius:3px;
  border: 0;
}
#searchbar > input[type=text] {
  width: 80%;
}
#dropdowns {
  font-size: 0.95em;
  padding-right:10vw;
  padding-top:15px;
  margin-bottom: 0px;
  background:rgb(39, 81, 121);
  color:white;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr auto auto;
}
#dropdown1 {
  padding-right:10px;
  min-width:6wv;
  grid-column: 6/7;
  /* border-right:1px solid #ddd; */
}
#dropdown1:after {
  content:"";
  display: inline-block;
  height: 15px;
  vertical-align: middle;
  width: 1px;
  margin-left:10px;
  border-right: 1px solid white;
}
#dropdown2 {
  padding-left:10px;
  grid-column: 7/8;
}
a {
  color: inherit; /* blue colors for links too */
  text-decoration: none;
}
#hero-section {
  color:white;
  text-align:center;
  background:rgb(39, 81, 121);
  padding: 3vh 0;
}
#hero-section > h1 {
  font-size: 5em;
}
#hero-section > h3 {
  font-size: 2em;
  font-weight: 400;
  margin:0;
}
.button {
  cursor:pointer;
}
.pad-hor {
  padding: 0 30px;
}
#posts {
  width:80%;
  margin: 0 auto;
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(400px);
  grid-gap: 15px;
}
.post {
  margin:0;
  position: relative;
  width:100%;
  background:white;
  height:400px;

}
.post-title {
  color: #555;
}

.post > * {
  padding: 5px 15px 15px 15px;
  margin: 18px 15px;
}
.post-price, .post-published, .post-deadline {
  padding: 0 15px;
} 
.post-price {
  font-weight:600;
  font-size:1.4em;
}
.post-published {
  position: absolute;
  bottom: 35px;
  font-size: 0.8em;
  color:#666;
  margin: 0;
}
.post-deadline {
  position: absolute;
  bottom:15px;
  font-size: 0.8em;
  color:#666;
  margin: 0;
}

.post-text {
  max-height:40%;
  overflow-y: auto;
  color: #666;
  
  margin:0 15px;
}
.underline {
  border-bottom: 1px solid white;
}
select {
  /* remove default arrow */
  -webkit-appearance: none; 
   -moz-appearance: none;
   appearance: none;       
   /* background-image: url(...);   add custom arrow */
   background:none;
   border:0;
   padding: 9 10px;
   color:white;
}
option {
  color: rgb(39, 81, 121);
}
#for-sale {
  color:#666;
  font-weight:600;
  font-size: 1.2em;
  margin-left: 10vw;
}
@media screen  and (max-width: 1400px) /* laptop */ {
  #posts {
    width:90%;
  }
  #navbar {
    padding: 0.5vh 5vw;
  }
  #dropdowns {
    padding-right:5vw;
  }
  #for-sale {
    margin-left: 5vw;
  }
}

@media screen  and (max-width: 1100px) /* Tablet */ {
  #posts {
    grid-template-columns: 1fr 1fr;
  }
  #navbar {
    grid-gap: 0 20px;
  }
}

@media screen  and (max-width: 780px) /* Tablet Smaller */ {
  #posts {
    grid-template-columns: 1fr 1fr;
  }

  #navbar {
    grid-template-columns: auto 1fr auto auto auto;
  }
  .nav1 {
    display:none;
  }
  .nav2 {
    grid-column:3/4;
  }
  .nav3 {
    grid-column:4/5;
  }
  .nav4 {
    grid-column:5/6;
  }
}

@media screen and (max-width: 700px) /* Mobile */ { 
  #posts {
    width:98%;
    grid-template-columns: 1fr;
  }
  #dropdowns {
    padding-right:3vw;
  }
  #navbar {
    padding: 0.5vh 3vw;
  }
  #for-sale {
    margin-left: 1vw;
  }
  #navbar {
    grid-gap: 0 10px;
  }
}

@media screen and (max-width: 480px) /* Mobile Smaller*/ {

  #nav-logo {
    min-width:100%;
  }
  #logo-text-container {
    width:0;
    position:absolute;
    display:none;
  } 
  #hero-section > h1 {
    font-size: 4em;
  }
  #hero-section > h3 {
    font-size: 1.7em;
  }
}